@model OrderConciseViewModel

<tr>
    <td>@Model.TableNumbers</td>
    <td>@Model.Price</td>
    <td>@Model.TimeOfOrder</td>
    <td>
        <a asp-area="Employee" asp-controller="Orders" asp-action="Details" asp-route-id="@Model.Id"
           class="btn btn-info">Details</a>
        <a asp-area="Employee" asp-controller="Orders" asp-action="Approve" asp-route-id="@Model.Id"
           class="btn btn-danger">Approve</a>
    </td>
</tr>

