@page
@model RestaurantSystem.Web.Pages.Menu.BeefsModel
@{
    ViewData["Title"] = "Beefs";
}

<partial name="MenuBarPartial" />

<h2>Beef</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>DishWeight</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var beef in this.Model.Beefs)
        {
        <tr>
            <td>@beef.Name</td>
            <td>@beef.Price</td>
            <td>@beef.Description</td>
            <td>@beef.DishWeight</td>
            @if (User.IsInRole("Administrator"))
            {
                //TODO: implement admin part
            }
            else
            {
                <td>
                    <a class="btn btn-success" asp-page-handler="OrderFood" asp-page="/Menu/Order" asp-route-id="@beef.Id">Order</a>
                </td>

            }
        </tr>
        }
    </tbody>
</table>