@page
@model RestaurantSystem.Web.Pages.Menu.DrinksModel
@{
    ViewData["Title"] = "Drinks";
}
<div class="container-fluid">
    <partial name="MenuBarPartial" />

    <h2 class="mb-2">Drinks</h2>
    <div class="table-responsive cancelAndCreate">
        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Milliliters</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var drink in this.Model.Drinks)
                {
                    <tr class="text-center">
                        <td>@drink.Name</td>
                        <td>@drink.Price</td>
                        <td>@drink.Description</td>
                        <td>@drink.Milliliters</td>
                        @if (User.IsInRole("Administrator"))
                        {
                            <td>
                                <a class="btn btn-danger" aria-label="Close" asp-page-handler="BanDrink" asp-page="/Menu/Order" asp-route-id="@drink.Id">
                                    <span aria-hidden="true">&times;</span>
                                </a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a class="btn btn-success" asp-page-handler="OrderDrink" asp-page="/Menu/Order" asp-route-id="@drink.Id">Order</a>
                            </td>

                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>