@page
@model RestaurantSystem.Web.Pages.Menu.PastasModel
@{
    ViewData["Title"] = "Pastas";
}

<partial name="MenuBarPartial" />

<h2>Pasta</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>DishWeight</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pasta in this.Model.Pastas)
        {
        <tr>
            <td>@pasta.Name</td>
            <td>@pasta.Price</td>
            <td>@pasta.Description</td>
            <td>@pasta.DishWeight</td>
            @if (User.IsInRole("Administrator"))
            {
                //TODO: implement admin part
            }
            else
            {
                <td>
                    <a class="btn btn-success" asp-page-handler="OrderFood" asp-page="/Menu/Order" asp-route-id="@pasta.Id">Order</a>
                </td>

            }
        </tr>
        }
    </tbody>
</table>