@page
@model RestaurantSystem.Web.Pages.Menu.SalatsModel
@{
    ViewData["Title"] = "Salats";
}

<partial name="MenuBarPartial" />

<h2>Salats</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>DishWeight</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var salat in this.Model.Salats)
        {
        <tr>
            <td>@salat.Name</td>
            <td>@salat.Price</td>
            <td>@salat.Description</td>
            <td>@salat.DishWeight</td>
            @if (User.IsInRole("Administrator"))
            {
                //TODO: implement admin part
            }
            else
            {
                <td>
                    <a class="btn btn-success" asp-page-handler="OrderFood" asp-page="/Menu/Order" asp-route-id="@salat.Id">Order</a>
                </td>

            }
        </tr>
        }
    </tbody>
</table>