@page
@model RestaurantSystem.Web.Pages.Menu.SoupsModel
@{
    ViewData["Title"] = "Soups";
}

<partial name="MenuBarPartial" />

<h2>Soups</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>DishWeight</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var soup in this.Model.Soups)
        {
            <tr>
                <td>@soup.Name</td>
                <td>@soup.Price</td>
                <td>@soup.Description</td>
                <td>@soup.DishWeight</td>
                @if(User.IsInRole("Administrator"))
                {
                    //TODO: implement admin part
                }
                else
                {
                    <td>
                        <a class="btn btn-success" asp-page-handler="OrderFood" asp-page="/Menu/Order" asp-route-id="@soup.Id">Order</a>
                    </td>

                }
            </tr>
        }
    </tbody>
</table>